
*.pyc
Prototypes/.vs/VSWorkspaceState.json
Prototypes/.vs/Prototypes/v15/.suo
Prototypes/.vs/ProjectSettings.json
Prototypes/.vs/slnx.sqlite
Prototypes/.vscode/settings.json
Prototypes/.vscode/launch.json
build/
dist/
commands.txt